@import "./reset";
$space:8px;
$primary-color:#415165;
$secondary-color:#A00404;
$white:#FFFFFF;
$primary-light:#96A9C4;
*{
  //outline: solid;
}
img{
  vertical-align: top;
}
body{
  font-family: "PingFang TC" serif;
  line-height: 1.5;
}

.border-bottom-1{
  border-bottom: 1px solid #000;
}
.border-left-1{
  border-left: 1px solid #96A9C4;
}
.border-white{
  border-bottom: 1px solid $white;
}
.mx-a{
  margin: 0 auto;
}
@for $i from 1 through 10{
  .mb-#{$i}{
    margin-bottom: $space*$i;
  }
}
.pt-5{
  padding-top: $space*5;
}
.pb-1{
  padding-bottom: $space - 1;
}

.pb-3{
  padding-bottom: $space*3 - 2;
}
.ps-2{
  padding-left: $space*2 - 1;
}
.ps-3{
  padding-left: $space*3 - 1;
}
.text-center{
  text-align: center;
}
.bg-primary{
  background:$primary-color;
}
.text-red{
  color: $secondary-color;
}
.text-white{
  color: $white;
}

.fs-2-5{
  font-size: $space*2.5;
}
.fw-light{
  font-weight: 300;
}
.font-SFProText{
  font-family: "SF Pro Text" serif;
}
.d-flex{
  display: flex;
  justify-content: center;
}
//
.container{
  max-width: 1200px;
}
.container2{
  max-width: 996px;
  padding: $space*3 0px $space*5;
}
.name{
  font: normal normal normal 80px/95px "SF Pro Text";
  border-bottom: 2px solid black;
}
.title{
  font-size: 32px;
  font-weight: 500;
}
.subtitle{
  font-size: 24px;
  font-weight: 600;
}
.list_fontstyle{
  font-size: 24px;
  font-weight: 300;
}
.list_fontstyle-bold{
  font-size: 24px;
  font-weight: 500;
}

.gap_1{
  border-left: 1px solid $primary-light;
  padding-left: $space*3;
  display: grid;
  gap: $space*1;
}
.gap_3{
  border-left: 1px solid $primary-light;
  padding-left: $space*3;
  display: grid;
  gap: $space*3;
}
.link-list{
  text-align: center;
  display: grid;
  gap: $space*2;
}
.link{
  color: $white;
  font-weight: 300;
  font-size: 24px;
  &:hover{
    font-weight: 500;
  }
}
.icon-list{
  gap: $space*3;
}